@import "./base";
.calendar {
	> div {
		border-radius: 10px;
		width: 100%;
		border: none;
		//background-color: $otherColor;
		background-color: rgba($color: $primaryColor, $alpha: 0.6);
		> div button:nth-child(3) {
			text-transform: uppercase !important;
			font-weight: bold;
		}
		> div > div > div button {
			height: auto;
			border-radius: 2em;
			transition: all 0.1s;
			font-weight: bold;
		}
	}
}
