@import "./base";
.parent-child {
    .childs {
        background-color: rgba(255, 255, 255, 0.6);
        border-radius: 0.5em !important;
        transition: all 0.2s linear;
        margin-bottom: 1em;
        &:hover {
            box-shadow: 10px 10px 15px 5px rgba(0, 0, 0, 0.3);
        }
        .head {
            padding: 0.5em 2em !important;
            p {
                text-transform: uppercase;
            }
        }
        .details {
            display: flex;
            justify-content: space-between;
            > div {
                width: 48%;
                > p {
                }
                .textarea {
                    width: 100%;
                    padding: 0.5em;
                    background-color: rgba(0, 0, 0, 0.09);
                    border-top-left-radius: 4px;
                    border-top-right-radius: 4px;
                    border: none;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
                    transition: all 0.2s;
                    resize: vertical;
                    padding-top: 1.5em;

                    font-size: 1.1em;
                    &:focus {
                        padding-top: 0.5em;
                        font-size: 1em;
                        border-bottom: 2px solid rgba(0, 0, 0, 0.8);
                        color: rgba(0, 0, 0, 0.8);
                        outline: none;
                    }
                }
            }
        }
    }
    .Mui-expanded {
        border-radius: 0.5em !important;
        transition: all 0.2s linear;
        margin-bottom: 0em;
        .head {
            > div {
                margin: 0;
                p {
                    font-size: 1.5em;
                    width: 100%;
                    text-align: center;
                }
            }
        }
        .btn-edit {
            visibility: hidden;
        }
    }
}
