@import "./base";
.children-inscription {
    h1 {
        text-align: center;
    }
    > div {
        > fieldset {
            border: 0.3em solid rgba($color: #000000, $alpha: 0.3);
            border-left: none;
            border-right: none;
            border-radius: 1em;
            padding: 0.5em;
            margin: 0.5em;
            margin-bottom: 2em;
            background-color: rgba($color: #000000, $alpha: 0.05);
            > legend {
                margin-left: 2em;
                font-size: 1.2em;
                padding: 0 0.5em;
                border: 0.3em solid rgba($color: #000000, $alpha: 0.3);
                border-top: none;
                border-bottom: none;
                border-radius: 1em;
            }
            > div.fields {
                display: flex;
                flex-wrap: wrap;
                > p {
                    padding: 0.5em;
                    width: 100%;
                }
                > div {
                    margin: 0.1em;
                    width: calc(50% - 0.2em);
                    padding: 0.5em;
                    display: flex;
                    align-items: center;
                    > div {
                        width: 100%;
                    }
                    .textarea {
                        width: 100%;
                        padding: 0.5em;
                        background-color: rgba(0, 0, 0, 0.09);
                        border-top-left-radius: 4px;
                        border-top-right-radius: 4px;
                        border: none;
                        border-bottom: 1px solid rgba(0, 0, 0, 0.5);
                        transition: all 0.2s;
                        resize: vertical;
                        padding-top: 1.5em;

                        font-size: 1.1em;
                        &:focus {
                            padding-top: 0.5em;
                            font-size: 1em;
                            border-bottom: 2px solid rgba(0, 0, 0, 0.8);
                            color: rgba(0, 0, 0, 0.8);
                            outline: none;
                        }
                    }

                    .fieldset {
                        border: 3px solid rgba(0, 0, 0, 0.2);
                        height: auto;
                        display: flex;
                        flex-flow: column wrap;
                        border-radius: 0.5em;
                        .head {
                            max-width: 95%;
                            align-self: flex-start;
                            display: flex;

                            p {
                                text-transform: uppercase !important;
                                text-align: center;
                                padding: 0.5em 1.5em;
                                &:nth-child(1) {
                                    text-transform: lowercase;
                                    border-radius: 0em 0em 0.5em 0em;
                                    align-self: start;
                                    background-color: rgba(0, 0, 0, 0.2);
                                }
                                &:nth-child(2) {
                                    background-color: transparent;
                                    color: red;
                                }
                            }
                        }
                        .body {
                            padding-left: 2em;
                            display: flex;
                            flex-flow: row wrap;
                            justify-content: center;
                            > * {
                                text-align: center;
                            }
                            > p {
                                text-align: justify;
                                width: 100%;
                            }
                            > div {
                                width: 100%;
                                flex-direction: row;
                                padding: 0;
                            }
                        }
                    }
                }
            }
            &:nth-of-type(1) {
                > div.fields {
                    > div {
                        width: calc((100% / 2) - 0.2em);
                        &:nth-of-type(5) {
                            width: 100%;
                        }
                        .fieldset {
                            .body {
                                padding: 0;
                                > div {
                                    justify-content: space-around;
                                }
                                .optional-fields {
                                    width: 85%;
                                    padding: 0.5em 0;
                                    font-size: 1.1em;
                                    > div {
                                        width: 100%;
                                    }
                                    > .radio {
                                        display: flex;
                                        height: auto;
                                        padding: 0;
                                        justify-content: center;
                                        align-items: center;
                                        > p {
                                            padding-right: 1em;
                                        }
                                    }
                                }
                            }
                        }
                        .sex {
                            flex-direction: row;
                            width: auto !important;
                            max-width: 75% !important;
                            .head {
                                > p:nth-of-type(1) {
                                    padding: 0.55em 1.5em;
                                }
                            }
                            .body {
                                justify-content: space-around;
                                > * {
                                    text-align: center;
                                }
                                > div {
                                    width: auto;
                                    flex-direction: row;
                                    justify-content: flex-end;
                                    padding: 0;
                                }
                            }
                        }
                    }
                }
            }
            &:nth-of-type(2) {
                > div.fields {
                    > div {
                        &:nth-of-type(1),
                        &:nth-of-type(2),
                        &:nth-of-type(3) {
                            width: calc((100% / 3) - 0.2em);
                        }
                        &:nth-of-type(4),
                        &:nth-of-type(7) {
                            width: 100%;
                        }
                        &:nth-of-type(2) {
                            .label-error1 {
                                color: #f44336;
                            }
                            .label-error2 {
                                color: #f44336;
                                margin-left: 14px;
                                margin-right: 14px;
                                font-size: 0.75rem;
                                margin-top: 3px;
                                text-align: left;
                                font-weight: 400;
                                line-height: 1.66;
                                letter-spacing: 0.03333em;
                            }
                        }
                        &:nth-of-type(4) {
                            .fieldset {
                                .body {
                                    align-content: center;
                                    height: auto;
                                    > div {
                                        width: 30%;
                                        display: flex;
                                        align-content: center;
                                    }
                                    .optional-fields {
                                        width: 70%;
                                        padding: 0.1em;
                                        > div {
                                            text-align: left;
                                            width: 90%;
                                        }
                                    }
                                }
                            }
                        }
                        &:nth-of-type(7) {
                            .fieldset {
                                .body {
                                    align-content: center;
                                    height: auto;
                                    padding: 1em !important;
                                    justify-content: space-around;
                                    > div {
                                        width: calc(100% / 3);
                                    }
                                }
                            }
                        }
                    }
                }
            }
            &:nth-of-type(3) {
                > div.fields {
                    > div {
                        width: 100%;
                        .fieldset {
                            .body {
                                justify-content: space-around;
                                padding: 0.5em !important;
                            }
                        }
                    }
                }
            }
            &:nth-of-type(4) {
                > div.fields {
                    > p {
                        text-align: left;
                    }
                    > div {
                        width: auto;
                        padding: 0em 0.5em;
                        label {
                            transition: all 0.3s;
                            .Mui-checked {
                                color: $primaryColor;
                            }
                            &:hover {
                                color: $primaryColor;
                                > span > span {
                                    color: $primaryColor;
                                }
                            }
                        }
                    }
                }
            }
            .last_name,
            .daycareServiceYesName,
            .first_name {
                input {
                    text-transform: capitalize;
                }
            }
            .email {
                input {
                    text-transform: lowercase;
                }
            }
        }
    }
}

@include responsive(phone) {
    .children-inscription {
        > div {
            > fieldset {
                > div.fields {
                    > div {
                        width: calc(100% - 0.2em) !important;
                    }
                }
            }
        }
    }
}
@include responsive(tablet) {
}
