@import "./base";

$lengthPhone: calc(-11em * 3);
$lengthTablet: calc(-12.6em * 3);
$lengthDesktop: -12.8em;

@mixin animation($name) {
	animation: #{$name};
}
@mixin keyframesAnimation($animationName, $length) {
	@-webkit-keyframes #{$animationName} {
		0% {
			margin-top: 0em;
		}
		100% {
			margin-top: $length;
		}
	}
	@-moz-keyframes #{$animationName} {
		0% {
			margin-top: 0em;
		}
		100% {
			margin-top: $length;
		}
	}
	@keyframes #{$animationName} {
		0% {
			margin-top: 0em;
		}
		100% {
			margin-top: $length;
		}
	}
}
.create-account {
	background-color: rgba($color: $primaryColor, $alpha: 0.2);
	border-radius: 0.5em;
	overflow-y: hidden;
	.choice {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin-top: $lengthDesktop;
		> div {
			width: calc(100% / 3);
			padding: 2em 1em;
			text-align: center;
			button {
				width: 80%;
				height: 10em;
				background-color: rgba($color: $primaryColor, $alpha: 0.5);
				border: none;
				&:hover {
					transform: scale(1.1);
					border-radius: 1em;
					background-color: $primaryColor;
					box-shadow: 7px 7px 7px 0px rgba(0, 0, 0, 0.6);
				}
			}
		}
	}
	.add-container {
		transition: all 0.5s;
	}
}
.show {
	margin-top: 0em !important;
}
.hideDiv {
	animation: 2s hideDivDesktop;
	@include responsive(phone) {
		animation: 2s hideDivPhone;
	}
	@include responsive(tablet) {
		animation: 2s hideDivTablet;
	}
}
@include keyframesAnimation(hideDivPhone, $lengthPhone);
@include keyframesAnimation(hideDivTablet, $lengthTablet);
@include keyframesAnimation(hideDivDesktop, $lengthDesktop);

.showDiv {
	animation: 2s showDivAnimation;
}
@include keyframes(showDivAnimation) {
	0% {
		transform: translate(0%, -100%);
	}
	100% {
		transform: translate(0, 0);
	}
}

@include responsive(phone) {
	.create-account {
		.choice {
			margin-top: $lengthPhone;
			> div {
				width: 100%;
				button {
					height: 5em;
				}
			}
		}
	}
}
@include responsive(tablet) {
	.create-account {
		.choice {
			margin-top: $lengthTablet;
			> div {
				width: 80%;
				button {
					height: 8em;
				}
			}
		}
	}
}
@include responsive(desktop) {
}
