@import "./base";

.dashbord {
	display: grid;
	padding: 1.5em 0;
	grid-template-columns: 1fr 3fr;
	grid-template-rows: auto auto;
	grid-template-areas:
		"calendar main"
		"side main";
	transition: all 0.2s;
	> div {
		background-color: rgba($color: #ffff, $alpha: 0.3);
		border-radius: 0.5em;
		border-radius: $borderRadiusMain;
		padding: 0.5em;
	}
	.calendar {
		padding: 0em;
		grid-area: calendar;
		margin: 0 0.5em 0.25em 0;
	}
	.side-menu {
		background-color: $backgroundPrimary;
		grid-area: side;
		margin: 0.25em 0.5em 0 0;
	}
	.menu {
		background-color: $backgroundPrimary;
		grid-area: main;
	}
}

@include responsive(phone) {
	.dashbord {
		display: flex;
		flex-direction: column;
		padding: 2em 0;
		> div {
			margin: 0.5em !important;
		}
	}
}
@include responsive(tablet) {
}
@include responsive(desktop) {
}
