@import "./base";
.detail-user {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 1em;
    > div.image {
        width: 50%;
        height: 20em;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        > label {
            height: 100%;
            padding: 0;
            width: 50%;
            border-radius: 1em;
            > span {
                height: 100%;
                position: relative;
                border-radius: 1em;
                > img {
                    border-radius: 1em;
                    width: 100%;
                    height: 100%;
                }
                > p {
                    border-radius: 1em;
                    transition: all 0.3s;
                    background-color: none;
                    opacity: 0;
                    position: absolute;
                    background-color: rgba($color: #ffff, $alpha: 0.4);
                    height: 100%;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    > span {
                        text-align: center;
                        letter-spacing: 0em;
                        font-size: 1.4em;
                        font-weight: bolder;
                    }
                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }
        > div.img-loading {
            position: absolute;
            height: 100%;
            padding: 0;
            width: 50%;
            border-radius: 1em;
            > div {
                height: 100%;
            }
        }
        > p {
            width: 50%;
            text-align: center;
            font-size: 1.5em;
        }
        > p.upload-success {
            color: $secondaryColor;
        }
        > p.upload-error {
            color: red;
        }
    }
    > div.details-personnelles {
        align-self: flex-end;
        width: 50%;
        font-size: 1.5em;
        display: flex;
        flex-direction: column;
        padding: 1em 0;
        height: auto;
        justify-content: space-between;
        > div {
            display: flex;
            flex-wrap: wrap;
            padding: 0.3em 1em;
            transition: all 0.2s;
            border-radius: 0.5em;
            > p:nth-of-type(1) {
                width: 55%;
                letter-spacing: 0.06em;
            }
            > p:nth-of-type(2) {
                letter-spacing: 0.1em;
            }
            &:hover {
                background-color: rgba($color: #ffff, $alpha: 0.3);
            }
        }
    }
}
