@import "./base";
header {
	height: 10vh;
	background-color: $primaryColor !important;
	div {
		justify-content: space-between;
		min-height: 100% !important;
		> button.img {
			background-image: url(../pictures/logo.png);
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			height: 100%;
			width: 13em;
			border-radius: 5px;
			font-size: 1em;
		}
		> div.right-head {
			align-self: flex-start;
			display: flex;
			justify-content: center;
			align-items: center;
			> div.lang {
				margin: 0;
				padding: 0.5em;
				height: 2em;
			}

			> button.logout {
				color: $blackTrans;
				display: flex;
				align-items: center;
				font-size: 1em;
				font-weight: bold;
				p {
					margin-right: 5px;
				}
				svg {
					font-size: 1.5em;
				}
			}
		}
	}
}

@include responsive(phone) {
	header {
		div {
			> div.right-head {
				> div.lang {
					height: 1.5em;
				}
				> button.logout {
					p {
						display: none;
					}
					svg {
						font-size: 3em;
					}
				}
			}
		}
	}
}
@include responsive(tablet) {
}
@include responsive(desktop) {
}
