@import "./base";

.historical {
    padding: 0.5rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    background-color: $backgroundDark;
    border-radius: $borderRadiusMain;
}

.child-number {
    text-align: center;
}
