@import "./base";
.informations-coordonnees {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    > h1 {
        text-align: center;
    }
    > div.fields {
        padding: 1em;
        display: flex;
        flex-flow: row wrap;
        > div {
            padding: 0.5em 1em;
            label {
                transition: all 0.3s;
                .Mui-checked {
                    color: $primaryColor;
                }
                &:hover {
                    color: $primaryColor;
                    > span > span {
                        color: $primaryColor;
                    }
                }
            }
            .fieldset {
                border: 3px solid rgba(0, 0, 0, 0.2);
                height: auto;
                display: flex;
                flex-flow: column wrap;
                border-radius: 0.5em;
                .head {
                    max-width: 95%;
                    align-self: flex-start;
                    display: flex;

                    p {
                        text-align: center;
                        padding: 0.5em 1.5em;
                        &:nth-child(1) {
                            text-transform: uppercase;
                            border-radius: 0em 0em 0.5em 0em;
                            align-self: start;
                            background-color: rgba(0, 0, 0, 0.2);
                        }
                        &:nth-child(2) {
                            background-color: transparent;
                            color: red;
                        }
                    }
                }
                .body {
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: center;
                    > * {
                        text-align: center;
                    }
                    > p {
                        text-align: justify;
                        width: 100%;
                    }
                    > div {
                        width: 100%;
                        flex-direction: row;
                        padding: 0;
                    }
                }
            }
            &:nth-of-type(1),
            &:nth-of-type(2),
            &:nth-of-type(3),
            &:nth-of-type(4),
            &:nth-of-type(5),
            &:nth-of-type(6) {
                width: 50%;
                > div {
                    width: 100%;
                }
            }
            &:nth-of-type(7),
            &:nth-of-type(8),
            &:nth-of-type(9),
            &:nth-of-type(10) {
                width: 100%;
            }
            .sex {
                flex-direction: row;
                width: auto !important;
                max-width: 75% !important;
                .head {
                    > p:nth-of-type(1) {
                        padding: 0.55em 1.5em;
                    }
                }
                .body {
                    justify-content: space-around;
                    > * {
                        text-align: center;
                    }
                    > div {
                        width: auto;
                        flex-direction: row;
                        justify-content: flex-end;
                        padding: 0;
                    }
                }
            }
            .contacts {
                .body {
                    justify-content: space-around;
                    padding: 1em;
                    > * {
                        text-align: center;
                    }
                    > div {
                        width: calc(95% / 4);
                    }
                }
            }
            .membership {
                .body {
                    justify-content: space-around;
                    padding: 1em;
                    > * {
                        text-align: center;
                    }
                    > div {
                        > div {
                            width: calc(100% / 3);
                        }
                    }
                    .optional-fields {
                        width: 85%;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                    }
                }
            }
            .last_name,
            .first_name {
                input {
                    text-transform: capitalize;
                }
            }
            .email {
                input {
                    text-transform: lowercase;
                }
            }
        }
    }
}
@include responsive(phone) {
    .informations-coordonnees {
        > div.fields {
            > div {
                width: 100% !important;
                > div {
                    width: 100% !important;
                }
            }
            .sex {
                width: 50% !important;
            }
            .contacts {
                .body {
                    justify-content: center;
                    > div {
                        > div {
                            width: 100%;
                        }
                        width: 95% !important;
                        padding-bottom: 1em !important;
                    }
                }
            }

            .membership {
                .body {
                    > div {
                        > div {
                            text-align: left;
                            width: 100% !important;
                        }
                    }
                }
            }
            .participation,
            .benevolat {
                .body {
                    > div {
                        flex-direction: column !important;
                    }
                }
            }
        }
    }
}
@include responsive(tablet) {
    .informations-coordonnees {
        > div.fields {
            > div {
                width: 100% !important;
                > div {
                    width: 100% !important;
                }
            }
            .sex {
                width: 50% !important;
            }
            .contacts {
                .body {
                    justify-content: center;
                    > div {
                        > div {
                            width: 100%;
                        }
                        width: 95% !important;
                        padding-bottom: 1em !important;
                    }
                }
            }

            .membership {
                .body {
                    > div {
                        > div {
                            text-align: left;
                            width: 100% !important;
                        }
                    }
                }
            }
            .participation,
            .benevolat {
                .body {
                    > div {
                        flex-direction: column !important;
                    }
                }
            }
        }
    }
}
