@import "./base";
.list {
	display: flex;
	flex-flow: column;
	height: 100%;

	.list-menu {
		display: flex;
		flex-flow: wrap row;
		justify-content: space-between;
		padding-bottom: 0.5em;
		.search-container {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			.search-fields {
				padding: 0 0.5em;
				> div > div {
					text-align: center;
					> div {
						margin: 0 0.2em;
						input {
							padding: auto 0em;
						}
					}
				}
			}
		}
	}
	.button-valider {
		display: flex;
		justify-content: flex-end;
		padding: 0.5em 2em;
		button {
			width: 10em;
		}
	}
}

@include responsive(phone) {
	.list {
		.list-menu {
			flex-direction: column;
			.btnGroup {
				margin: 1em auto;
				.MuiButton-root {
					padding: 0.2em 1em;
					font-size: 0.7rem;
				}
			}
		}
	}
}
@include responsive(tablet) {
}
@include responsive(desktop) {
}
