@import "./base";
header {
	height: 10vh;
	background-color: rgba($color: $primaryColor, $alpha: 0.5) !important;
	div {
		justify-content: space-between;
		min-height: 100% !important;
		button:first-of-type {
			background-image: url(../pictures/logo.png);
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			height: 100%;
			width: 13em;
			border-radius: 5px;
		}
		.logout {
			color: $blackTrans;
			display: flex;
			align-items: center;
			font-size: 1em;
			font-weight: bold;
			transition: all 0.5s;
			p {
				margin-right: 5px;
			}
			svg {
				font-size: 1.5em;
			}
		}
	}
}
main {
	height: 75vh;
}
.footer {
	position: absolute;
	bottom: 0;
	width: 100vw;
	height: 15vh;
	display: flex;
	flex-wrap: wrap;
	padding: 0 5em !important;
	background-color: rgba($color: $primaryColor, $alpha: 0.5);
	> div {
		padding: 0em 2em;
		width: calc(100% / 3);
		height: auto;
		&:first-of-type {
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			> div {
				display: flex;
				flex-wrap: wrap;
				ul {
					text-align: left;
					list-style: none;
				}
			}
		}
		&:nth-child(2) {
			box-shadow: 0px 10px 10px 5px rgba(0, 0, 0, 0.6);
		}
	}
}

@include responsive(phone) {
	header {
		div {
			.logout {
				p {
					display: none;
				}
				svg {
					font-size: 4em;
				}
			}
		}
	}
	.footer {
		padding: 0 1em !important;
		align-items: center;
		> div {
			width: 100%;
			padding: 1em 1em;
			h2 {
				display: none;
			}
			> div {
				flex-direction: column;
			}
		}
		.map {
			display: none;
		}
	}
}
@include responsive(tablet) {
	.footer {
		padding: 0 2em !important;
		> div {
			width: 50%;
			padding: 1em 1em;
			> div {
				flex-direction: column;
			}
		}
		.map {
			display: none;
		}
	}
}
@include responsive(desktop) {
}
