@import "./base";

main {
	height: 75vh;
	overflow-y: auto;
}
@include responsive(phone) {
	main {
		height: 80vh;
	}
}
@include responsive(tablet) {
	main {
		height: 78vh;
	}
}
@include responsive(desktop) {
}
