@import "./base";

@include keyframes(childCountErrorAnimation) {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
}

.register-container {
	padding: 0.2em;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	height: 100%;
	position: relative;

	> div:first-of-type {
		position: absolute;
		border: none;
		padding: 0.3em 0.7em;
		border: 5px solid rgba($color: rgb(255, 255, 255), $alpha: 0.6);
		color: rgba($color: rgb(255, 255, 255), $alpha: 0.8);
		text-transform: capitalize;
		border-radius: 0.5em;

		cursor: pointer;
		transition: all 0.5s;
		&:hover {
			background-color: rgba($color: rgb(255, 255, 255), $alpha: 0.6);
			border: 5px solid transparent;
			color: black;
		}
	}
	> div.form-container {
		border: none;
		padding: 0.2em;
		border-radius: 0em 0.5em 0.5em 0.5em;
		overflow-y: auto;
		height: 100%;
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		align-items: center;

		> button {
			padding: 0;
			overflow: hidden;
			transition: all 0.5s;
			span {
				svg {
					margin: 0;
					padding: 0;
					height: 4em;
					width: 4em;
				}
			}
		}
		.disable-level-button {
			opacity: 0;
			visibility: hidden;
		}
		.forms {
			border-radius: 1em;
			margin: 0;
			width: 60%;
			height: 100%;
			padding: 0.2em;
			overflow-y: auto;
			overflow-x: hidden;
			background-color: rgba($color: rgb(255, 255, 255), $alpha: 0.8);
			box-shadow: -5px 10px 15px 5px rgba(0, 0, 0, 0.3);
			> div {
				height: 100%;
				.div-svg-child {
					height: 100%;
					align-self: center;
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					justify-content: center;
					padding-left: 2em;
					.child-count-error {
						color: red;
						animation-duration: 0.3s;
						animation-name: childCountErrorAnimation;
						animation-iteration-count: 5;
					}
					> div {
						display: flex;
						align-items: center;
						width: auto;
						transition: all 0.3s;
						margin: 0.5em;
						border-radius: 0.5em;
						overflow: hidden;
						cursor: pointer;
						svg {
							width: 3em;
							height: 3em;
							fill: currentColor;
							display: inline-block;
							font-size: 1.5rem;
							transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
							flex-shrink: 0;
							user-select: none;

							font-family: "Poppins", sans-serif !important;
							padding: 0;
							margin: 0;
							box-sizing: border-box;
						}
						> p {
							background-color: rgba($color: $primaryColor, $alpha: 0.6);
							font-size: 4em;
							width: 1em;
							text-align: center;
						}
						.svg-done {
							background-color: transparent;
							color: rgb(77, 224, 77);
							font-size: 1.5rem;
							height: 100%;
							padding: 0.2em;
						}
						&:hover {
							background-color: rgba($color: $primaryColor, $alpha: 0.1);
							margin-left: 2em;
						}
					}
					.svg-child-selected {
						background-color: rgba($color: $primaryColor, $alpha: 0.1);
					}
				}
			}

			&::-webkit-scrollbar {
				width: 8px;
			}
			&::-webkit-scrollbar-track {
				box-shadow: inset 0 0 6px rgba($color: #0000, $alpha: 0.3);
				-webkit-box-shadow: inset 0 0 6px rgba($color: #0000, $alpha: 0.3);
				border-radius: 10px;
				-webkit-border-radius: 10px;
			}
			&::-webkit-scrollbar-thumb {
				-webkit-border-radius: 10px;
				border-radius: 10px;
				background: rgba($color: $primaryColor, $alpha: 0.8);
				box-shadow: inset 0 0 6px $blackTrans;
				-webkit-box-shadow: inset 0 0 6px $blackTrans;
			}
			&::-webkit-scrollbar:window-inactive {
				width: 4px;
			}
			&::-webkit-scrollbar-thumb:window-inactive {
				background: transparent;
			}
		}
	}
}

@include responsive(phone) {
	.register-container {
		> div.form-container {
			width: 95%;
			margin: auto;
			flex-flow: column nowrap;

			> button {
				height: 10%;
				span {
					svg {
						height: 3em;
						width: 4em;
					}
				}
			}
			.forms {
				width: 100%;
			}
		}
	}
}
@include responsive(tablet) {
	.register-container {
		> div.form-container {
			width: 95%;
			margin: auto;
			flex-flow: column nowrap;

			> button {
				height: 10%;
				span {
					svg {
						height: 3em;
						width: 4em;
					}
				}
			}
		}
	}
}
