@import "./base";
.register-container {
	padding: 0.2em;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	height: 100%;
	position: relative;
	> div:first-of-type {
		position: absolute;
		border: none;
		padding: 0.3em 0.7em;
		border: 5px solid $primaryColor;
		text-transform: capitalize;
		border-radius: 0.5em;

		cursor: pointer;
		transition: all 0.5s;
		&:hover {
			background-color: $primaryColor;
			color: $whiteColor;
		}
	}
	> div.form-container {
		border: none;
		padding: 0.2em;
		border-radius: 0em 0.5em 0.5em 0.5em;
		overflow-y: auto;
		height: 100%;
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		align-items: center;

		> button {
			padding: 0;
			overflow: hidden;
			transition: all 0.5s;
			span {
				svg {
					margin: 0;
					padding: 0;
					height: 4em;
					width: 4em;
				}
			}
		}
		.disable-level-button {
			opacity: 0;
			visibility: hidden;
		}
		.forms {
			border-radius: 1em;
			margin: 0;
			width: 60%;
			height: 100%;
			padding: 0.2em;
			overflow-y: auto;
			overflow-x: hidden;
			background-color: rgba($color: rgb(255, 255, 255), $alpha: 0.8);
			box-shadow: -5px 10px 15px 5px rgba(0, 0, 0, 0.3);
			> div {
				height: 100%;
			}

			&::-webkit-scrollbar {
				width: 8px;
			}
			&::-webkit-scrollbar-track {
				box-shadow: inset 0 0 6px rgba($color: #0000, $alpha: 0.3);
				-webkit-box-shadow: inset 0 0 6px rgba($color: #0000, $alpha: 0.3);
				border-radius: 10px;
				-webkit-border-radius: 10px;
			}
			&::-webkit-scrollbar-thumb {
				-webkit-border-radius: 10px;
				border-radius: 10px;
				background: rgba($color: $primaryColor, $alpha: 0.8);
				box-shadow: inset 0 0 6px $blackTrans;
				-webkit-box-shadow: inset 0 0 6px $blackTrans;
			}
			&::-webkit-scrollbar:window-inactive {
				width: 4px;
			}
			&::-webkit-scrollbar-thumb:window-inactive {
				background: transparent;
			}
		}
	}
}
