@import "./base";
.side-menu {
	ul .Mui-selected {
		background-color: $primaryColor !important;
		border-radius: 0.5em;
		color: rgba(255, 255, 255, 0.8);
	}
}
@include responsive(phone) {
	.side-menu {
		ul span {
			font-size: 1.5em;
		}
	}
}
@include responsive(tablet) {
	.side-menu {
		ul span {
			font-size: 1em;
		}
	}
}
@include responsive(desktop) {
}
