@import "./base";
.side-menu {
	ul .Mui-selected {
		background-color: $primaryColor !important;
		border-radius: 0.5em;
		color: $whiteColor;
		transition: all 0.5s;
	}
}
@include responsive(phone) {
	.side-menu {
		ul span {
			font-size: 1.5em;
		}
	}
}
@include responsive(tablet) {
	.side-menu {
		ul span {
			font-size: 1em;
		}
	}
}
@include responsive(desktop) {
}
