@import "./base";
.table {
	display: flex;
	flex-flow: column;
	height: 100%;

	.table-menu {
		display: flex;
		flex-flow: wrap row;
		justify-content: space-between;
		padding-bottom: 0.5em;
		.search-container {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			.search-fields {
				padding: 0 0.5em;
				> div > div {
					text-align: center;
					> div {
						margin: 0 0.2em;
						input {
							padding: auto 0em;
						}
					}
				}
			}
		}
	}
	.table-list {
		table {
			thead {
				tr {
					th {
						background-color: rgba($color: $primaryColor, $alpha: 0.9);
						font-weight: bold;
						font-size: 1.3em;
						&:first-of-type{
							border-radius: .5em 0 0 0;
						}
						&:last-of-type{
							border-radius: 0 .5em 0 0;
						}
					}
				}
			}
			tbody {
				background-color: rgba($color: $secondaryColor, $alpha: 0.3);
				td {
					padding: 0.75em;
					font-weight: bold;
					font-size: 1em;
				}
			}
		}
		&::-webkit-scrollbar {
			width: 8px;
		}
		&::-webkit-scrollbar-track {
			box-shadow: inset 0 0 6px rgba($color: #0000, $alpha: 0.3);
			-webkit-box-shadow: inset 0 0 6px rgba($color: #0000, $alpha: 0.3);
			border-radius: 10px;
			-webkit-border-radius: 10px;
		}
		&::-webkit-scrollbar-thumb {
			-webkit-border-radius: 10px;
			border-radius: 10px;
			background: rgba($color: $primaryColor, $alpha: 0.8);
			box-shadow: inset 0 0 6px rgba($color: #0000, $alpha: 0.5);
			-webkit-box-shadow: inset 0 0 6px rgba($color: #0000, $alpha: 0.5);
		}
		&::-webkit-scrollbar:window-inactive {
			width: 4px;
		}
		&::-webkit-scrollbar-thumb:window-inactive {
			background: transparent;
		}
	}
	.button-valider {
		display: flex;
		justify-content: flex-end;
		padding: 0.5em 2em;
		button {
			width: 10em;
		}
	}
}

@include responsive(phone) {
	.table {
		.table-menu {
			flex-direction: column;
			.btnGroup {
				margin: 1em auto;
				.MuiButton-root {
					padding: 0.2em 1em;
					font-size: 0.7rem;
				}
			}
		}
	}
}
@include responsive(tablet) {
}
@include responsive(desktop) {
}
