@import "./base";

.search-container {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.search-icon {
	color: white;
}

.search-icon:hover {
	cursor: pointer;
}

.search-input {
	width: 130px;
	border: none;
	border-radius: $borderRadiusMain;
	font-size: 16px;
	background-color: white;
	padding: 6px;
	-webkit-transition: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
.search-input:hover,
.search-input:focus {
	width: 100%;
}

.table-menu {
	display: flex;
	flex-flow: wrap row;
	justify-content: space-between;
}
