@import "./base";

* {
	font-family: "Poppins", sans-serif !important;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-image: url(../pictures/bg-img.png);
	background-attachment: fixed;
	background-position: center;
	background-size: contain;
	background-clip: content-box;
	#root {
		width: 100vw;
		height: 100vh;
		background-color: rgba(165, 162, 162, 0.973);
	}
}

@include responsive(phone) {
	body {
		font-size: 10px;
	}
}
@include responsive(tablet) {
	body {
		font-size: 13px;
	}
}
@include responsive(desktop) {
	body {
		font-size: 16px;
	}
}
