@import "./base";
.loading {
	background-color: rgba($color: #000000, $alpha: 0.7);
	position: absolute;
	width: 100%;
	height: 75%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 5;
	.tree {
		width: 30%;
		height: 30%;
		background-image: url(../pictures/bg-img.png);
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		animation: loadingAnimation 2s ease-in-out 0s alternate infinite none running;
	}
	.text {
		color: rgba($color: #000000, $alpha: 0.7);
		font-weight: bolder;
		font-size: 2em;
		animation: textAnimation 1s ease-in-out 0s alternate infinite none running;
	}
}

@include keyframes(loadingAnimation) {
	0% {
		transform: rotateX(180deg) rotateY(360deg) rotateZ(180deg) rotate(0deg) scale(0.5);
	}
	100% {
		transform: rotateX(360deg) rotateY(180deg) rotateZ(360deg) rotate(359deg) scale(1);
	}
}
@include keyframes(textAnimation) {
	0% {
		transform: scale(0.5);
		opacity: 0;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}
